/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";


.pdv-color{  background-color:#183650; }

.pdv-bg{
  background-color:#183650;
  color: #FFFFFF;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 6px;
  height: 200px;
  margin-top: -20px;
}

.pdv-bg h1{
  padding: 30px 30px 0 30px;
}

