<!DOCTYPE html>
<html>
  <head>
    <title>PdvWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="pdv-bg">
          <h1><%= image_tag 'pdv.png' %>&nbsp;&nbsp;<i class="fa fa-bicycle fa-fw"></i></h1>
          <p>Rede Ciclologística.</p>
        </div>
        <%= yield %>
      </div>
    </div>
    </div>
  </body>
</html>
